KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=change-me

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

AUTH_SERVICE_CLIENT_SECRET=change-me

USER_DB_NAME=shopper
USER_DB_USERNAME=shopper
USER_DB_PASSWORD=change-me

ORDER_DB_NAME=order_service
ORDER_DB_USERNAME=order_service
ORDER_DB_PASSWORD=change-me

KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=shopper
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/shopper
JWT_ISSUER_URI=http://keycloak:8080/realms/shopper
JWT_JWK_SET_URI=http://keycloak:8080/realms/shopper/protocol/openid-connect/certs
PAYMENT_SERVICE_URL=http://localhost:8085
